#about-card-email {
    padding: 0 30px;
    margin:  0 0 30px 0;
    font-size:   $font-size-base;
    line-height: $line-height-base;
    font-weight: 400;
    color:       map-get($colors, base);
}